* {
    margin: 0;
    padding: 0;
}

.translate-list table tbody {
    width: 100%;
    display: block;
    max-height: 550px;
    overflow-y: auto;
}

.translate-list table thead,
.translate-list table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.translate-list td {
    padding: 0.35rem;
}

.table-input {
    border: none;
}

.loading {
    margin: 100px auto 0;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
