* {
    margin: 0;
    padding: 0;
}

:root {
    --text-primary--: #2ECC71;
    --bg-primary--: #f0fcf5;
    --bg-secondary--: #102B7B;
}

body {
    background: var(--bg-secondary--);
}

h1,
h2,
h3,
h4 {
    color: var(--text-primary--);
}

.translate-list table tbody {
    width: 100%;
    display: block;
    max-height: 500px;
    overflow-y: auto;
}

.translate-list table thead,
.translate-list table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.translate-list td {
    padding: 0.35rem;
}

.table-input {
    border: none;
}

.loading {
    margin: 100px auto 100px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--text-primary--);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.content {
    background: var(--bg-primary--);
    padding: 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0f0f3
}

.text-green {
    color: var(--text-primary--);
}

.single-line-word {
    white-space: nowrap;
    overflow: hidden;
}

.form-control {
    border: none;
}